html {
box-sizing: border-box;
}

li {
    list-style-type: none;
    display: inline-block;
}


.index {
    display:inline-grid;
    grid-template-columns: 1fr 1fr 1fr;

}


.index img {
    max-width: 50%;
}
